#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#city,
.panel-heading b {
  text-transform: capitalize;
}

.city-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: orangered;
}
